<div class='panel panel-primary' *ngIf='machineDetail'>
    <div class='panel-heading'>
        {{pageTitle + ': ' + machineDetail.id}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='row'>
                    <div class='col-md-3'>Id:</div>
                    <div class='col-md-8'>{{machineDetail.id}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Status:</div>
                  <div class='col-md-6'>{{machineDetail.status}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Machine Type:</div>
                  <div class='col-md-6'>{{machineDetail.machine_type}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Longitude:</div>
                  <div class='col-md-6'>{{machineDetail.longitude}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Latitude:</div>
                  <div class='col-md-6'>{{machineDetail.latitude}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Last maintenance:</div>
                  <div class='col-md-6'>{{machineDetail.last_maintenance | date }}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Install Date:</div>
                  <div class='col-md-6'>{{machineDetail.install_date | date }}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Floor:</div>
                  <div class='col-md-6'>{{machineDetail.floor}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-3'>Events:</div>
                  <div class='col-md-9'>
                    <div *ngFor='let machineDetailEvent of machineDetail.events;  let i=index'>
                      <div *ngIf="i<11">
                        {{ machineDetailEvent.timestamp | date:'medium'}}  &nbsp;&nbsp;&nbsp;&nbsp; {{ machineDetailEvent.status }}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>
